<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="Public\images\logo2.png">
    <link rel="stylesheet" href="Public\style.css">
    <link rel="stylesheet" href="Public\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="Public\fontawesome\css\all.min.css">
    <title>Hồ sơ cá nhân</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <h3 class="float-md-start mb-0">
                <a href="#" class="navbar-brand">
                    <img src="Public/images/logo.png" alt="Logo" style="width: 70px;" srcset="">
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a href="#" class="nav-link active" aria-current="page">Trang chủ</a>
                <a href="#" class="nav-link">Giới thiệu</a>
            </nav>
        </header>

        <main class="py-5">
            <h1>
                <img src="Public\images\avatar\demo.jpg" width="100" height="100" class="img-thumbnail" alt=""
                    srcset="">
            </h1>
            <div class="lead my-3 mx-5">
                <h2>Vườn Hoa Đua Nở</h2>
                <div class="d-flex flex-row text-start">
                    <div class="w-75 ps-5">
                        <p>Ngày tháng năm sinh:</p>
                        <p>Giới tính:</p>
                        <p>Số điện thoại:</p>
                        <p>Số hộ chiếu/CMND/CCCD:</p>
                        <p>Thôn/Xóm/Số nhà:</p>
                    </div>
                    <div class="w-25">
                        <p>16/06/2001</p>
                        <p>Nữ</p>
                        <p>0395902941</p>
                        <p>206309080</p>
                        <p>Hoà Giang</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <p class="fs-6 sun">Tỉnh/Thành phố</p>
                        <p>Quảng Nam</p>
                    </div>
                    <div>
                        <p class="fs-6 sun">Quận/Huyện</p>
                        <p>Điện Bàn</p>
                    </div>
                    <div>
                        <p class="fs-6 sun">Xã/Phường</p>
                        <p>Điện Trung</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row justify-content-between mt-4">
                    <div>
                        <a href="#" class="btn py-2 rounded bg-light" data-bs-toggle="modal"
                            data-bs-target="#editAccount">
                            <i class="fas fa-pen me-2"></i> Chỉnh sửa thông tin cá nhân
                        </a>
                    </div>
                    <div>
                        <a href="#" class="btn py-2 rounded bg-light">
                            <i class="fas fa-history me-2"></i> Lịch sử tiếp xúc
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Nguyễn Thị Phi Thương - Nguyễn Thị Cẩm Linh</p>
        </footer>

        <div class="modal fade py-5" id="editAccount">
            <div class="modal-dialog modal-lg">
                <div class="modal-content text-dark">
                    <div class="modal-header p-5 pb-5 border-bottom-0">
                        <h2 class="fw-bold mb-0">Chỉnh sửa thông tin cá nhân</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form action="#" method="post">
                            <div class="form-floating mb-3">
                                <input id="dob" type="date" name="dob" class="form-control">
                                <label for="logTel">Ngày tháng năm sinh</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="gender" id="gender" class="form-select">
                                    <option value="">Nam</option>
                                    <option value="">Nữ</option>
                                </select>
                                <label for="gender" class="form-label">Giới tính</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="tel" type="tel" name="tel"
                                    pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" class="form-control">
                                <label for="logTel">Số điện thoại</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="idNumber" type="text" name="idNumber" class="form-control">
                                <label for="logTel">Số hộ chiếu/CMND/CCCD</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="address" type="text" name="address" class="form-control">
                                <label for="logTel">Thôn/Xóm/Số nhà</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="pro" id="pro" class="form-select">
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                </select>
                                <label for="pro" class="form-label">Tỉnh/Thành phố</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="dis" id="dis" class="form-select">
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                </select>
                                <label for="dis" class="form-label">Quận/Huyện</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="town" id="town" class="form-select">
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                    <option value="">demo</option>
                                </select>
                                <label for="town" class="form-label">Xã/Phường</label>
                            </div>
                            <button type="submit"
                                class="w-100 btn btn-lg text-light btn-secondary fw-bold border-dark bg-dark">Đăng
                                nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="Public\dist\js\bootstrap.bundle.min.js"></script>
</body>

</html>