<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="Public\images\logo2.png">
    <link rel="stylesheet" href="Public\style.css">
    <link rel="stylesheet" href="Public\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="Public\fontawesome\css\all.min.css">
    <title>Hồ sơ cá nhân</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <h3 class="float-md-start mb-0">
                <a href="#" class="navbar-brand">
                    <img src="Public/images/logo.png" alt="Logo" style="width: 70px;" srcset="">
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a href="#" class="nav-link active" aria-current="page">Trang chủ</a>
                <a href="#" class="nav-link">Giới thiệu</a>
            </nav>
        </header>

        <main class="py-5">
            <h1>
                <img src="Public\images\avatar\demo.jpg" width="100" height="100" class="img-thumbnail" alt=""
                    srcset="">
            </h1>
            <div class="lead my-3 mx-5">
                <h2>Vườn Hoa Đua Nở</h2>
                <div class="btn-toolbar mt-4 justify-content-center">
                    <div class='input-group date' id='datetimepicker'>
                        <input type="date" class="form-control" id="calendar" name="calendar">
                    </div>
                </div>
                <table class="table table-dark mt-4">
                    <thead class="fw-bold sun">
                        <tr>
                            <td>Col 1</td>
                            <td>Col 2</td>
                            <td>Col 3</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>Data 2</td>
                            <td>Data 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Nguyễn Thị Phi Thương - Nguyễn Thị Cẩm Linh</p>
        </footer>
    </div>

    <script src="Public\dist\js\bootstrap.bundle.min.js"></script>
</body>

</html>